:root {
  --dark-grey: #535971;
  --btn-bg: #ff5374;
  --form-bg: #efefef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

  background-color: #e5e5e5;
}

body::before {
  content: '';
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Passando pra parte de tras */
  background: var(--dark-grey);
}

.page {
  width: 750px;
  margin: auto;
}

/* ---------- HEADER */

header {
  width: 417px;
  margin-top: 120px;
}

header h1 {
  color: #ffffff;
  font-family: 'Staatliches', sans-serif;
  font-size: 48px;
}

header p {
  color: #ffffff;
  font-size: 20px;

  width: 417px;

  margin: 18px 0;
}

/* ---------- FORM & FIELDSET */

form {
  background-color: var(--form-bg);

  border-radius: 8px;

  margin-top: 56px;
  
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.fieldset-wrapper, 
.lastfieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;

  padding: 64px;
}

fieldset legend {
  color: var(--dark-grey);
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;

  border-bottom: 1px solid #e6e6f0;

  width: 100%;
}

fieldset .col-2 {
  display: flex;
  gap: 22px;
}

/* ---------- INPUT */

.input-wrapper { /* Descendo o input */
  display: flex;
  flex-direction: column;

  /*width: 100%; /* Para os inputs (nome, sobnome) tomar o espaço todo */
}

.input-wrapper label {
  color: #4e4958;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 24px;
}

.input-wrapper label span {
  color: #c1bccc;
  font-size: 12px;
}

.input-wrapper label span:hover {
  color: #978bb0;
}

.input-wrapper input {
  font-size: 16px;
  
  border: 1px solid /*#E6E6F0*/;
  border-radius: 8px;
  
  background-color: #E6E6F0;

  height: 56px;

  margin-top: 8px;
  padding: 0 10px;
}

.input#schedule-name {
  background-color: black;
}

/* ---------- DATE & TIME */



.sub-legend {
  font-size: 20px;
}

.first-mentorship,
.second-mentorship {
  display: flex;
  gap: 15px;
}

.first-mentorship > div:nth-child(1),
.second-mentorship > div:nth-child(1) {
  width: 100%;
}

/* ---------- FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 750px;
  height: 160px;

  background-color: #535971;
  border-radius: 0 0 20px 20px;
}

button {
  background-color: #FF5374;
  
  border: none;
  border-radius: 20px;
  
  color: #FFFFFF;
  font-family: 'Staatliches';
  font-size: 20px;

  width: 600px;
  height: 55px;
}
