* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;

  background-image: url('./images/mountains-universe-1.png');
  background-size: cover;
  background-position: center;

  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  gap: 3.2rem;
  align-items: center;

  padding: 4rem 0 4rem 7.2rem;
}

nav li a {
  color: #adadb3;
  font-size: 2.2rem;
  font-weight: 400;

  display: inline-block; /* so the transform works */
}

nav li a:hover {
  color: white;
  transform: translateY(-5px);
  transition: 600ms;
}

nav li a:active {
  font-weight: 700;
}

h1 {
  color: #e1e1e6;
  font-size: 4.8rem;
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  color: #e1e1e6;
  line-height: 2.8rem;
}

/* HOME PAGE */

.home main {
  display: grid;
  height: 100vh;
  gap: 2.4rem;
  place-content: center;
  text-align: center;

  margin-top: -12.3rem; /* 100% height */
}

.home main button {
  background: transparent;
  border: solid 2px white;
  border-radius: 5px;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  padding: 1.2rem 3.2rem;
}

.home main button:hover {
  cursor: pointer;
  transition: 500ms;

  background-color: white;

  color: #02799d;
}

/* THE UNIVERSE & EXPLORATION */
.universe main,
.exploration main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 64.8rem;

  margin: 6rem 0 0 10rem;
}

.homeBackground {
  background: url('./images/mountains-universe-1.png');
  background-size: cover;
  background-position: center;
}

.universeBackground {
  background: url('./images/mountains-universe02.png');
  background-size: cover;
  background-position: center;
}

.explorationBackground {
  background: url('./images/mountains-universe-3.png');
  background-size: cover;
  background-position: center;
}
