* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

main,
.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main {
  place-items: center;

  min-height: 100vh;
  max-width: 80rem;

  margin: 0 auto;

  color: #323238;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
}

.sounds {
  gap: 3.2rem;
}

.buttonSoundsActive {
  fill: white;
}

.sounds > button:hover {
  background-color: #02799d;
}

button {
  border: none;
  cursor: pointer;
}

.sounds button {
  background-color: #e1e1e6;

  border-radius: 2.4rem;

  width: 13.8rem;
  height: 15.2rem;
}
