* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */
}

body {
  background-color: #ece9fd;

  font-size: 1.6rem;
  font-family: 'Epilogue', sans-serif;

  padding: 6rem 2.3rem 6.6rem;
}

main p:first-child {
  color: #7158ef;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  line-height: 3.2rem;

  margin-bottom: 1.7rem;
}

h1 {
  color: #090039;

  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 800;

  margin-bottom: 1.5rem;
}

h1 + p {
  /* p que anteriormente tem um h1 */
  color: rgba(10, 0, 57, 0.64);
  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a {
  color: #090039;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

ul {
  color: #090039;

  list-style: none;

  margin-top: 7.2rem;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;

  letter-spacing: -0.2rem;
}

ul li {
font-weight: 700;
font-size: 2.4rem;
line-height: 3.2rem;

display: flex;
align-items: center;
gap: 2.5rem;
}
