* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
  text-align: center;

  display: grid;
  place-items: center; /* Joga pro meio da tela */
  height: 100vh; /* Aí quando botamos altura ele vai para o centro */
}

.hide {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;

  background: #ffffff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;

  width: min(42.8rem, 90%);

  padding: 4.8rem 6.4rem 6.4rem;
  margin-top: -12rem; /* Jogando o main um pouco mais acima do centro */
}

main h1 {
  color: #34355b;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;

  margin-bottom: 1.6rem;
}

main p {
  color: rgba(52, 53, 91, 0.8);
  font-weight: 400;
}

main form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5px;

  margin-top: 4.8rem;
}

form input {
  color: #34355b;
  font-weight: 400;
  line-height: 2.1rem;

  background-color: #dce2e9;
  border-radius: 0.4rem 0 0 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.120);

  padding: 1.6rem;

  width: 6.4rem;
  height: 4.8rem;
}

form button {
  color: white;
  font-weight: 700;

  padding: 1.6rem;

  background-color: #7879f1;
  border-radius: 0 0.4rem 0.4rem 0;
  border: none;

  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background-color: #404073;
}

/* Screen 2 */

main h2 {
  font-size: 2.4rem;
  font-weight: normal;

  margin-bottom: 3.3rem;
}

.screen2 button {
  color: white;
  font-weight: 700;

  padding: 1.6rem;

  background-color: #7879f1;
  border-radius: 0.4rem;
  border: none;

  cursor: pointer;
  transition: background 0.3s;
}

.screen2 button:hover {
  background-color: #404073;
}
