* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: 'Staatliches', sans-serif;
  --ff-body: 'Palanquin', sans-serif;

  --bg-header: hsl(218, 17%, 62%);
  --bg-heading: hsl(275, 18%, 79%);

  --fs-body: clamp(1.6rem, 0.5rem + 3vw, 2rem);
  --fs-span: 2rem;

  --fc-body: #23053a;
}

/* HEADER */

header {
  background-color: var(--bg-header);

  text-align: center;

  height: 31rem;
}

header svg {
  margin: 3.2rem;
}

header h1 {
  color: white;
  font-family: var(--ff-heading);
  font-size: 4rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  background-color: var(--bg-heading);

  margin-bottom: 2.9rem;
  padding: 0.8rem;
}

/* MAIN & WRAPPER */

.wrapper {
  display: grid;
  justify-content: center;
  gap: 3.2rem;

  margin: 1.5rem auto 6rem;

  max-width: clamp(31rem, 25rem + 20vw, 117rem);
}

main p {
  color: var(--fc-body);
  font-family: var(--ff-body);
  font-size: var(--fs-body);

  line-height: 2rem;
  text-align: center;

  margin-bottom: 3rem;
}

/* IMAGES & SPAN */

.card {
  font-family: var(--ff-heading);

  position: relative;
}

img { /*obs*/
  width: 100%;
}

.card img {
  object-fit: cover;

  animation: downtop 700ms 700ms backwards;
}

.card img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.card span {
  color: #4a4e69;
  font-size: var(--fs-span);
  letter-spacing: 0.05em;

  background-color: #feeafa;
  border-radius: 2rem;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  padding: 0 2.2rem;

  width: fit-content;
  height: 3.5rem;

  display: inline-flex;
  align-items: center;

  animation: topdown 1s 1s backwards;
}

/* KEYFRAMES & ANIMATIONS */

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*@media (min-width: 900px) {
  .wrapper {
    max-width: 117rem;
    padding: 0 5rem;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}*/
